*.msi filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
strumenti[[:space:]]essenziali/ filter=lfs diff=lfs merge=lfs -text
guide/ filter=lfs diff=lfs merge=lfs -text
