@rgi:registry=https://pkgs.dev.azure.com/GeneraliInsuranceInABox/iiab-rgi-bridge/_packaging/iiab-rgi-bridge/npm/registry/
@generaligroup:registry=https://pkgs.dev.azure.com/GeneraliInsuranceInABox/iiab-gel/_packaging/iiab-gel/npm/registry/
always-auth=true